.container {
    margin:0;
    padding:0;
}

h1 {
    display: flex;
    justify-content: center;
}

#softwarehead {
    display: flex;
    justify-content: center;
}

#icebreak {
    display: flex;
    justify-content: center;
    text-align: center;
}


#contactinfo.row {
    display: flex;
    text-align: center;
}


hr {
    border: none;
    height: 12px;
    background:lightskyblue;
    margin-bottom: 20px;
}

